{% from "govuk/components/input/macro.njk"  import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro movementSearch() %}

       <form action="{{ routes.controllers.arrival.ViewArrivalsController.onPageLoad().url }}" method="GET">

          {{ govukInput({
            label: {
              text: messages('movement.search.title')
            },
            id: "mrn",
            name: "mrn",
            value: form.mrn.value,
            errorMessage: form.mrn.error,
            classes: "govuk-!-width-one-half"
          }) }}

          {{ govukButton({
            text: messages("site.search"),
            attributes: {id:"submit"}
          }) }}

        </form>

{% endmacro %}