{% from "govuk/components/input/macro.njk"  import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro movementSearch(labelText, searchText, field, action) %}

       <form action={{ action }} method="GET" class="movement-search">
          {{ govukInput({
            label: {
              text: labelText
            },
            id: field,
            name: field,
            value: searchText,
            formGroup: {
                classes: "govuk-!-width-one-half"
            }
          }) }}

          {{ govukButton({
            text: messages("site.search"),
            attributes: {id:"submit"}
          }) }}

        </form>

{% endmacro %}