{% macro showMovementsByDate(visuallyHiddenHeader, rowHeadingUpdated, rowHeadingMrn, rowHeadingStatus, rowHeadingAction, dataRows) %}

  {% for date, rows in dataRows %}

    <h2 class="govuk-heading-m" data-testrole="movements-list_group-heading">{{date}}</h2>

    <table class="responsive-table">
      <caption class="govuk-visually-hidden">{{ visuallyHiddenHeader }}</caption>
      <thead>
        <tr>
          <th scope="col">{{ rowHeadingUpdated }}</th>
          <th scope="col">{{ rowHeadingMrn }}</th>
          <th scope="col">{{ rowHeadingStatus }}</th>
          <th scope="col" class="action-col">{{ rowHeadingAction }}</th>
        </tr>
      </thead>

      <tbody class="hmrc-responsive-table__data">
        {% for row in rows %}
          {% set rowIndex = loop.index %}
          <tr data-testrole="movements-list_row{{ rowIndex }}">
            <td data-testrole="movements-list_row{{ rowIndex }}-updated">
              <span class="responsive-table__heading" aria-hidden="true">{{ rowHeadingUpdated }}</span>
              {{ row.updated }}
            </td>
            <td data-testrole="movements-list_row{{ rowIndex }}-ref">
              <span class="responsive-table__heading" aria-hidden="true">{{ rowHeadingMrn }}</span>
              {{ row.referenceNumber }}
            </td>
            <td data-testrole="movements-list_row{{ rowIndex }}-status">
              <span class="responsive-table__heading" aria-hidden="true">{{ rowHeadingStatus }}</span>
              {{ messages(row.status) }}
            </td>
            <td data-testrole="movements-list_row{{ rowIndex }}-actions">
              <span class="responsive-table__heading" aria-hidden="true">{{ rowHeadingAction }}</span>

              {% for action in row.actions %}
                {% set actionIndex = loop.index %}
                <a id="{{ messages(action.key) | replace(" ", "-")  }}-{{ row.referenceNumber }}" href="{{ action.href }}" class="action-link" data-testrole="movements-list_row{{ rowIndex }}-action{{ actionIndex }}">
                  {{ messages(action.key) }}
                  <span class="govuk-visually-hidden">{{ messages("viewArrivalNotifications.table.action.hidden", row.referenceNumber) }}</span>
                </a>
              {% endfor %}
            </td>
          </tr>

        {% endfor %}
      </tbody>
    </table>

  {% endfor %}

{% endmacro %}