{% macro arrivalNotification(dataRows) %}

    <table class="govuk-table hmrc-responsive-table" role="table">
      <caption class="govuk-visually-hidden">dataRows.date</caption>
      <thead role="rowgroup">
        <tr role="row">
          <th class="govuk-table__header" scope="col" role="columnheader">{{ messages("viewArrivalNotifications.table.updated") }}</th>
          <th class="govuk-table__header u--w-15" scope="col" role="columnheader">{{ messages("viewArrivalNotifications.table.mrn") }}</th>
          <th class="govuk-table__header" scope="col" role="columnheader">{{ messages("viewArrivalNotifications.table.trader.name") }}</th>
          <th class="govuk-table__header" scope="col" role="columnheader">{{ messages("viewArrivalNotifications.table.office") }}</th>
          <th class="govuk-table__header" scope="col" role="columnheader">{{ messages("viewArrivalNotifications.table.procedure") }}</th>
          <th class="govuk-table__header" scope="col" role="columnheader">{{ messages("viewArrivalNotifications.table.status") }}</th>
          <th class="govuk-table__header u--w-10" scope="col" role="columnheader">{{ messages("viewArrivalNotifications.table.action") }}</th>
        </tr>
      </thead>
      <tbody>
        {% for notice in dataRows.rows %}
          <tr role="row">
            <td class="govuk-table__cell" role="cell">
            {{ notice.updated }}
            </td>
            <td class="govuk-table__cell u--w-15" role="cell">
                <span class="hmrc-responsive-table__value">{{ notice.mrn }}</span>
            </td>
            <td class="govuk-table__cell" role="cell">
                {{ notice.traderName | safe }}
            </td>
            <td class="govuk-table__cell" role="cell">
                <span class="hmrc-responsive-table__value">{{ notice.office }}</span>
            </td>
            <td class="govuk-table__cell" role="cell">
                {{ notice.procedure }}
            </td>
            <td class="govuk-table__cell" role="cell">
                {{ notice.status }}
            </td>
            <td class="govuk-table__cell u--w-10" role="cell">
              {% if notice.actions.length > 0 %}
                <ul class="govuk-list">
              {% else %}
                <div>
              {% endif %}

              {% for action in notice.actions %}

                {% if notice.actions.length > 0 %}<li>{% endif %}
                {% if action == "errors" %}
                  <a href="rejected-arrivals/mrn-duplicate">View and fix errors<span class="govuk-visually-hidden"> for {{ notice.mrn }}</span></a>
                {% endif %}
                {% if action == "history" %}
                  <a href="view-history.html">View history<span class="govuk-visually-hidden"> for {{ notice.mrn }}</span> </a>
                {% endif %}
                {% if action == "unloading" %}
                  <a href="../../unloading-remarks/version-3/seals-included/all-goods-unloaded">Make unloading remarks<span class="govuk-visually-hidden"> for {{ notice.mrn }}</span></a>
                {% endif %}
                {% if notice.actions.length > 0 %}</li>{% endif %}
              {% endfor %}

              {% if notice.actions | length > 0 %}
                </ul>
              {% else %}
                </div>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endmacro %}
