{% macro arrivalNotification(dataRows) %}

  {% for date, rows in dataRows %}

      <h2 class="govuk-heading-m">{{date}}</h2>

      <div class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">{{ messages("viewArrivalNotifications.table.updated") }}</span>
              <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">{{ messages("viewArrivalNotifications.table.mrn") }}</span>
              <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">{{ messages("viewArrivalNotifications.table.status") }}</span>
            </div>

            {% for row in rows %}

                <div class="govuk-summary-list__row">
                  <span class="govuk-summary-list__value govuk-!-width-full">{{ row.updated }}</span>
                  <span class="govuk-summary-list__value govuk-!-width-full">{{ row.mrn }}</span>
                  <span class="govuk-summary-list__value govuk-!-width-full">{{ row.status  }}</span>
                </div>
           {% endfor %}
           </div>
    {% endfor %}

{% endmacro %}
