{% extends "govuk/template.njk" %}
{% from "macros/hmrc-header/macro.njk"            import hmrcHeader %}
{% from "hmrc/components/timeout-dialog/macro.njk"     import hmrcTimeoutDialog %}

{%- set assetPath = "/assets/lib/govuk-frontend/govuk/assets" -%}
{%- set htmlLang = request.language -%}

{% block head %}
  {% block pageHead %}{% endblock %}
  {{ hmrcTimeoutDialog({
    timeout: config.timeout,
    countdown: config.countdown,
    keepAliveUrl: routes.controllers.KeepAliveController.keepAlive().url,
    signOutUrl:  config.signOutUrl
  }) }}
  {% include "includes/head.njk" %}
{% endblock %}

{% block header %}
  {% macro phaseBanner() %}
      {{ messages("phaseBanner.1") }} <a class="govuk-link" href="{{ config.betaFeedbackUnauthenticatedUrl }}">{{ messages("phaseBanner.2") }}</a> {{ messages("phaseBanner.3") }}
  {% endmacro %}

  {{ hmrcHeader({
    homepageUrl: "https://www.gov.uk",
    serviceName: messages("site.service_name"),
    serviceUrl: "/manage-transit-movements",
    containerClasses: "govuk-width-container",
    assetsPath: "/assets",
    phaseBanner: {
      show: true,
      text: 'alpha',
      html: phaseBanner()
    },
    signOutHref: config.signOutUrl
  }) }}

{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  {% block mainContent %}{% endblock %}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    {% block pageScripts %}{% endblock %}
    {% include "includes/scripts.njk" %}
  {% endblock %}
{% endblock %}

{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}
