{% macro pagination(results, previous, next, items, firstItemDotted, lastItemDotted) %}

 <nav class="pagination {{- ' ' + classes if classes}}" aria-label="Search results pagination">
    <div class="pagination__list">

        {%- if results %}
          <p id="paginated-results-count" class="pagination__results">
            Showing <b>{{ results.from }}</b> to <b>{{ results.to }}</b> of <b>{{results.count}}</b> results
          </p>
        {% endif -%}

        {%- if previous %}

         <span class="pagination__item  pagination__item--prev" >
            <a id="previous" class="pagination__link" href="{{ previous.href }}">
                <span aria-hidden="true">Previous</span>
                <span class="govuk-visually-hidden">Previous page</span>
            </a>
         </span>

        {% endif -%}

        {%- for item in items %}

            {%- if lastItemDotted and loop.last %}

                <span class="pagination__item pagination__item--dots" aria-hidden="true">...</span>
                <span class="govuk-visually-hidden">Ellipses</span>

            {% endif -%}

            {%- if item.selected %}

                <span id="pagination-item-{{item.pageNumber}}" class="pagination__item pagination__item--active" aria-current="page">{{ item.pageNumber }}</span>

            {% else %}

                <span id="pagination-item-{{item.pageNumber}}" class="pagination__item">
                    <a class="pagination__link" href="{{ item.href }}">
                        <span aria-hidden="true">{{ item.pageNumber }}</span>
                        <span class="govuk-visually-hidden">Page {{ item.pageNumber }}</span>
                    </a>
                </span>

            {% endif -%}

            {%- if firstItemDotted and loop.first %}

                <span class="pagination__item pagination__item--dots" aria-hidden="true">...</span>
                <span class="govuk-visually-hidden">Ellipses</span>>

            {% endif -%}
        {% endfor -%}

        {%- if next %}

         <span class="pagination__item  pagination__item--next" >
            <a id="next" class="pagination__link" href="{{ next.href }}">
                <span aria-hidden="true">Next</span>
                <span class="govuk-visually-hidden">Next page</span>
            </a>
         </span>

        {% endif -%}

    </div>
</nav>

{% endmacro %}