{% macro pagination(results, previous, next, items, firstItemDotted, lastItemDotted) %}

 <nav class="pagination {{- ' ' + classes if classes}}" id="page-pagination" aria-label="Pagination">

  {%- if results %}
    <p id="paginated-results-count" class="pagination__results">Showing <b>{{ results.from }}</b> to <b>{{ results.to }}</b> of <b>{{results.count}}</b> results</p>
  {% endif -%}

  <ul class="pagination__list">

    {%- if previous %}
      <li class="pagination__item  pagination__item--prev">
        <a id="previous"
           class="pagination__link"
           href="{{ previous.href }}"
           aria-describedby="page-pagination">Previous</span></a>
      </li>
    {% endif -%}

    {%- for item in items %}

        {%- if lastItemDotted and loop.last %}
            <li class="pagination__item pagination__item--dots">...</li>
        {% endif -%}
        {%- if item.selected %}
          <li id="pagination-item-{{item.pageNumber}}" class="pagination__item pagination__item--active">
            <span aria-current="page">{{ item.pageNumber }}</span>
          </li>
        {% else %}
          <li id="pagination-item-{{item.pageNumber}}" class="pagination__item">
            <a class="pagination__link"
               href="{{ item.href }}"
               aria-describedby="page-pagination">{{ item.pageNumber }}</a>
          </li>
        {% endif -%}

        {%- if firstItemDotted and loop.first %}
            <li class="pagination__item pagination__item--dots">...</li>
        {% endif -%}
    {% endfor -%}

    {%- if next %}
      <li class="pagination__item  pagination__item--next">
        <a id="next"
           class="pagination__link"
           href="{{ next.href }}"
           aria-describedby="page-pagination">Next</span></a>
      </li>
    {% endif -%}
  </ul>

</nav>

{% endmacro %}