{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("controlDecision.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("controlDecision.heading") }}
        </h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 48%">
           {{ messages("controlDecision.mrn") }}
            </dt>
            <dd class="govuk-summary-list__value" style="width: 62%">
            {{controlDecisionMessage.movementReferenceNumber}}
            </dd>
      </div>
       <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key" style="width: 48%">
            {{ messages("controlDecision.lrn") }}
             </dt>
             <dd class="govuk-summary-list__value" style="width: 62%">
             {{"test"}}
             </dd>
       </div>
       {% if controlDecisionMessage.principleEori %}
         <div class="govuk-summary-list__row">
               <dt class="govuk-summary-list__key" style="width: 48%">
              {{ messages("controlDecision.principalEoriNumber") }}
               </dt>
               <dd class="govuk-summary-list__value" style="width: 62%">
               {{controlDecisionMessage.principleEori}}
               </dd>
         </div>
       {% else %}
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key" style="width: 48%">
            {{ messages("controlDecision.principalTraderName") }}
           </dt>
           <dd class="govuk-summary-list__value" style="width: 62%">
            {{controlDecisionMessage.principleTraderName}}
           </dd>
         </div>
       {% endif %}
       <div class="govuk-summary-list__row">
             <dt class="govuk-summary-list__key" style="width: 48%">
            {{ messages("controlDecision.dateOfControl") }}
             </dt>
             <dd class="govuk-summary-list__value" style="width: 62%">
             {{controlDecisionMessage.dateOfControl}}
             </dd>
       </div>
    </dl>
    <p class="govuk-body">{{ messages("controlDecision.paragraph") }}</p>
  </div>
 </div>
</div>

{% endblock %}
