{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("departureXmlNegativeAcknowledgement.title")) }}
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("departureXmlNegativeAcknowledgement.heading") }}
        </h1>

        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 48%">
              {{ messages("xmlNegativeAcknowledgement.errorType") }}
            </dt>
            <dd class="govuk-summary-list__value" style="width: 62%">
              {{functionalError.errorType}}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 48%">
              {{ messages("xmlNegativeAcknowledgement.errorPointer") }}
            </dt>
            <dd class="govuk-summary-list__value" style="width: 62%">
              {{functionalError.pointer.value}}
            </dd>
          </div>

          {% if functionalError.reason %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" style="width: 48%">
                {{ messages("xmlNegativeAcknowledgement.errorReason") }}
              </dt>
              <dd class="govuk-summary-list__value" style="width: 62%">
                {{functionalError.reason}}
              </dd>
            </div>
          {% endif %}

          {% if functionalError.originalAttributeValue %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" style="width: 48%">
                {{ messages("xmlNegativeAcknowledgement.originalAttributeValue") }}
              </dt>
              <dd class="govuk-summary-list__value" style="width: 62%">
                {{functionalError.originalAttributeValue}}
              </dd>
            </div>
          {% endif %}

        </dl>

      </div>
    </div>

    <p class="govuk-body"> {{ messages("xmlNegativeAcknowledgement.paragraph") }}
      <a class="govuk-link" target="_blank" href={{ contactUrl }} rel="noopener noreferrer">{{ messages("xmlNegativeAcknowledgement.linktext") }}</a>.
    </p>
  </div>

{% endblock %}
