{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("index.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("index.heading") }}
        </h1>

        <h2 class="govuk-heading-m">
            {{ messages("index.subHeading.arrival") }}
        </h2>
        <p class="govuk-body">
            <a id= "make-arrival-notifications" href={{declareArrivalNotificationUrl}}>
                {{ messages("index.link.arrival.makeArrival") }}
            </a>
        </p>
        <p class="govuk-body">
            <a id= "view-arrival-notifications" href={{viewArrivalNotificationUrl}}>
                {{ messages("index.link.arrival.viewArrival") }}
            </a>
        </p>
      </div>
    </div>
  </div>

{% endblock %}
