{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("noReleaseForTransit.title")) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">
                  {{ messages("noReleaseForTransit.heading") }}
                </h1>

                <dl class="govuk-summary-list">
                    {% if noReleaseForTransitMessage.noReleaseMotivation %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key" style="width: 48%">
                                {{ messages("noReleaseForTransit.noReleaseMotivation") }}
                            </dt>
                            <dd class="govuk-summary-list__value" style="width: 62%">
                                {{noReleaseForTransitMessage.noReleaseMotivation}}
                            </dd>
                        </div>
                    {% endif %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key" style="width: 48%">
                            {{ messages("noReleaseForTransit.mrn") }}
                        </dt>
                        <dd class="govuk-summary-list__value" style="width: 62%">
                            {{noReleaseForTransitMessage.mrn}}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key" style="width: 48%">
                            {{ messages("noReleaseForTransit.totalNumberOfItems") }}
                        </dt>
                        <dd class="govuk-summary-list__value" style="width: 62%">
                            {{noReleaseForTransitMessage.totalNumberOfItems}}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key" style="width: 48%">
                            {{ messages("noReleaseForTransit.officeOfDepartureRefNumber") }}
                        </dt>
                        <dd class="govuk-summary-list__value" style="width: 62%">
                            {{noReleaseForTransitMessage.officeOfDepartureRefNumber}}
                        </dd>
                    </div>
                </dl>

                <dl class="govuk-summary-list">
                    {% if noReleaseForTransitMessage.resultsOfControl %}
                        {% for resultsOfControl in noReleaseForTransitMessage.resultsOfControl %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key" style="width: 48%">
                                    {{ messages("noReleaseForTransit.resultsOfControlIndicator") }}
                                </dt>
                                <dd class="govuk-summary-list__value" style="width: 62%">
                                    {{resultsOfControl.controlIndicator}}
                                </dd>
                            </div>
                            {% if resultsOfControl.description %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key" style="width: 48%">
                                        {{ messages("noReleaseForTransit.resultsOfControlDescription") }}
                                    </dt>
                                    <dd class="govuk-summary-list__value" style="width: 62%">
                                        {{resultsOfControl.description}}
                                    </dd>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key" style="width: 48%">
                                {{ messages("noReleaseForTransit.ControlResultCode") }}
                            </dt>
                            <dd class="govuk-summary-list__value" style="width: 62%">
                                {{noReleaseForTransitMessage.controlResult.code}}
                            </dd>
                        </div>
                    {% endif %}
                </dl>

                <p class="govuk-body">{{ messages("noReleaseForTransit.p") }}

            </div>
        </div>
    </div>

{% endblock %}
