{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "govuk/components/back-link/macro.njk"        import govukBackLink %}

{% block pageTitle %}
  {{ title(messages("unauthorised.title")) }}
{% endblock %}

{% block mainContent %}

{{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("unauthorised.heading") }}
        </h1>
        <p class="govuk-body">{{messages("northernIrelandInterstitial.youMust")}}</p>
       <ul class="govuk-list govuk-list--bullet">
         <li><a href="https://customs.hmrc.gov.uk/nctsPortalWebApp/ncts.portal" target="_blank">{{messages("northernIrelandInterstitial.viewOldTransit")}}</a></li>
         <li><a href="https://www.gov.uk/government/collections/moving-goods-into-out-of-or-through-northern-ireland-from-1-january-2021" target="_blank">{{messages("northernIrelandInterstitial.readAboutMakingDeparture")}}</a></li>
       </ul>

      </div>
    </div>
  </div>

{% endblock %}
