{% extends "includes/layout.njk" %}

{% from "macros/title.njk" import title %}
{% from "macros/movementSearch.njk" import movementSearch %}
{% from "macros/showMovementsByDate.njk" import showMovementsByDate %}

{% block pageTitle %}
  {{ title(messages("viewArrivalNotifications.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        {{ messages("viewArrivalNotifications.heading") }}
      </h1>
      <p class="govuk-body">
        &lt; <a id = "go-to-view-all-movements" href="{{ routes.controllers.arrival.ViewAllArrivalsController.onPageLoad(None).url }}">
          {{ messages("viewAllMovements.link.title") }}
        </a>
      </p>

      {{ movementSearch( messages('movement.search.title'), mrn, "mrn", routes.controllers.arrival.ViewArrivalsSearchResultsController.onPageLoad("").url) }}
      {% if dataRows|length %}
        <p class="govuk-body">Showing <b>{{ retrieved }}</b> results matching {{ mrn }}. {% if tooManyResults %} {{ messages("search.tooManyResults") }} {% endif %}</p>
        {{ showMovementsByDate("Arrival notifications table", messages("viewArrivalNotifications.table.updated"), messages("viewArrivalNotifications.table.mrn"), messages("viewArrivalNotifications.table.status"), messages("viewArrivalNotifications.table.action"), dataRows) }}
      {% else %}
        <p class="govuk-body">{{ messages("search.noResultsFound") }}</p>
      {% endif %}

    </div>
  </div>

{% endblock %}