{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                  import title %}
{% from "macros/movementSearch.njk"         import movementSearch %}
{% from "macros/showMovementsByDate.njk"    import showMovementsByDate %}

{% block pageTitle %}
  {{ title(messages("viewDepartures.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        {{ messages("viewDepartures.heading") }}
      </h1>
      <p class="govuk-body">
        &lt; <a id = "go-to-view-all-movements" href="{{ routes.controllers.arrival.ViewDeparturesController.onPageLoad().url }}">
          {{ messages("viewAllMovements.link.title") }}
        </a>
      </p>

      {{ movementSearch( messages('movement.search.title'), mrn, "mrn", routes.controllers.arrival.ViewDeparturesController.onPageLoad().url) }}
      {{ showMovementsByDate("Departures notifications table", messages("viewDepartures.table.updated"), messages("viewDepartures.table.lrn"), messages("viewDepartures.table.status"), messages("viewDepartures.table.action"), dataRows) }}

    </div>
  </div>

{% endblock %}