{% extends "includes/layout.njk" %}

{% from "macros/title.njk" import title %}
{% from "macros/showMovementsByDate.njk" import showMovementsByDate %}
{% from "macros/pagination/macro.njk" import pagination %}

{% block pageTitle %}
  {{ title(messages("viewArrivalNotifications.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        {{ messages("viewArrivalNotifications.heading") }}
      </h1>
      <p class="govuk-body">
        <a id = "make-arrival-notification" href={{ declareArrivalNotificationUrl }} >
          {{ messages("viewArrivalNotifications.makeArrivalNotification") }}
        </a>
      </p>

      {%-  if results and results.totalPages == 1  %}
        <p id="results-count" class="govuk-body">Showing <b>{{results.count}}</b> results</p>
      {% endif -%}

      {%- if results.totalPages > 1 %}
          {{ pagination(results, previous, next, items, firstItemDotted, lastItemDotted) }}
      {% endif -%}

      {{ showMovementsByDate("Arrival notifications table", messages("viewArrivalNotifications.table.updated"), messages("viewArrivalNotifications.table.mrn"), messages("viewArrivalNotifications.table.status"), messages("viewArrivalNotifications.table.action"), dataRows) }}

      <p class="govuk-body govuk-!-margin-top-3">
        <a id = "go-to-manage-transit-movements" href="{{ homePageUrl }}">
          {{ messages("viewArrivalNotifications.goToManageTransitMovements") }}
        </a>
      </p>
    </div>
  </div>

{% endblock %}