{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "macros/showMovementsByDate.njk"           import showMovementsByDate %}
{% from "macros/pagination/macro.njk"              import pagination %}

{% block pageTitle %}
  {{ title(messages("viewDepartures.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
          {{ messages("viewDepartures.heading") }}
        </h1>

        <p class="govuk-body"><a id = "make-departure-notification" href={{ declareDepartureNotificationUrl }} > {{ messages("viewDepartures.makeDepartureNotification") }}</a></p>

        {%- if results.totalPages > 1 %}
            {{ pagination(results, previous, next, items) }}
        {% endif -%}

        {{ showMovementsByDate("Departures notifications table", messages("viewDepartures.table.updated"), messages("viewDepartures.table.lrn"), messages("viewDepartures.table.status"), messages("viewDepartures.table.action"), dataRows) }}

        <p class="govuk-body govuk-!-margin-top-3"><a id = "go-to-manage-transit-movements" href="{{ homePageUrl }}"> {{ messages("viewDepartures.goToManageTransitMovements") }} </a></p>

    </div>
  </div>

{% endblock %}
