{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
{{ (messages("whatDoYouWantToDo.title")) }}{% endblock %}
{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("whatDoYouWantToDo.heading") }}
        </h1>

        <h2 class="govuk-heading-m">
            {{ messages("whatDoYouWantToDo.subHeading.arrival") }}
        </h2>
        <p class="govuk-body">
            <a id= "make-arrival-notification" href={{declareArrivalNotificationUrl}}>
                {{ messages("whatDoYouWantToDo.link.arrival.makeArrival") }}
            </a>
        </p>
        <p class="govuk-body">
        {% if hasArrivals %}
            <a id= "view-arrival-notifications" href={{ viewArrivalNotificationUrl }}>
                {{ messages("whatDoYouWantToDo.link.arrival.viewArrival") }}
            </a>
        {% else %}
            {% if arrivalsAvailable %}
                {{ messages("whatDoYouWantToDo.arrival.noArrivals") }}
            {% else %}
                {{ messages("whatDoYouWantToDo.arrival.arrivalsUnavailable") }}
            {% endif %}
        {% endif %}
        </p>
         
        <h2 class="govuk-heading-m">
            {{ messages("whatDoYouWantToDo.subHeading.departure") }}
        </h2>
        <p class="govuk-body">
            <a id= "make-departure-declaration" href={{ declareDepartureDeclarationUrl }}>
                {{ messages("whatDoYouWantToDo.link.departure.makeDeparture") }}
            </a>
        </p>
        <p class="govuk-body">
        {% if hasDepartures %}
            <a id= "view-departure-declarations" href="{{ viewDepartureNotificationUrl }}">
                {{ messages("whatDoYouWantToDo.link.departure.viewDepartures") }}
            </a>
        {% else %}
            {% if departuresAvailable %}
                {{ messages("whatDoYouWantToDo.departure.noDepartures") }}
            {% else %}
                {{ messages("whatDoYouWantToDo.departure.departuresUnavailable") }}
            {% endif %}
        {% endif %}
        </p>

        {% if isGuaranteeBalanceEnabled %}
        <h2 class="govuk-heading-m">
          {{ messages("whatDoYouWantToDo.subHeading.guarantee") }}
        </h2>
        <p class="govuk-body">
            <a id= "check-guarantee-balance" href={{ checkGuaranteeBalanceUrl }}>
                {{ messages("whatDoYouWantToDo.link.guarantee.checkGuaranteeBalance") }}
            </a>
        </p>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
