.movement-search {
  .govuk-form-group {
    display: inline-block;
  }

  .govuk-button {
    vertical-align: bottom;
  }
}

@media all and (min-width: 0px) and (max-width: 600px)
{
  .search-input-custom {
    text-size-adjust: 100%;
    margin-bottom: 30px;
    display: inline-block;
  }
}

@media all and (min-width: 601px) and (max-width: 1024px)
{
  .search-input-custom {
    text-size-adjust: 100%;
    margin-bottom: 30px;
    width: 50% !important;
    display: inline-block;
  }
}