.movement-search {
  .govuk-form-group {
    display: inline-block;
  }

  .govuk-button {
    vertical-align: bottom;
  }
}

@media all and (min-width: 0px) and (max-width: 600px)
{
  .search-input-custom {
    text-size-adjust: 100%;
    margin-bottom: 30px;
    display: inline-block;
  }

  .govuk-form-group {
    margin-bottom: 20px;
    width: 100%;
  }

  .govuk-form-group--error {
    padding-left: 15px;
    border-left: 5px solid #d4351c;
    width: auto;
  }
}

@media all and (min-width: 601px)
{
  .search-input-custom {
    text-size-adjust: 100%;
    margin-bottom: 30px;
    width: 50% !important;
    display: inline-block;
  }
}

.search-inset-text {
  @include govuk-responsive-margin(0, "top");
  @include govuk-responsive-margin(6, "bottom");
}